@inject NavigationManager NavigationManager

           <div class="d-flex flex-column justify-center">
       <MudText   >@Title</MudText>
       </div>
         <div class="d-flex flex-column justify-center" style="height:100%">  
        
        <MudImage Style="display:flex;"  Fluid=true ObjectFit="ObjectFit.Cover" Src="@PictureSrc"/>
        
         </div>
   


    
   
   

@code {
    [Parameter]
    public string PictureSrc { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Id { get; set; }

    private void OnClickMovie()
    {
        NavigationManager.NavigateTo("/Movie/" + Id);
    }
}
