@using Data
@using global::Data.TMDBDomain
@using WebApp.Components.Domain.Movie
@using WebApp.DataServices.Services.TMDB
@inject IDataService DataService
@inject NavigationManager NavigationManager


<MudGrid>
    
@if (_movies == null)
{
    <MudItem xs="12" md="12" lg="12">
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudItem>
}
else
{
<MudItem xs="12" md="12" lg="12"  Class="d-flex flex-column mud-width-full ">
    <MudCarousel Class="mud-width-full" style="height:40.625rem" ItemsSource="@currentMovies" @bind-SelectedIndex="currentIndex"  ShowArrows="true" ShowBullets="true" AutoCycle="false">
	    <ItemTemplate>
                <MovieCarouselComponent  Title="@context.Title" PictureSrc="@context.BackdropPath" Id="@context.Id.ToString()"/>
	    </ItemTemplate>
    </MudCarousel>
  
</MudItem>

}




<h3>MovieCarousel</h3>

</MudGrid>
@code {

    private List<TMDBMovie> _movies;
    private List<TMDBMovie> currentMovies;// The movies to display
    private int currentIndex;// The current index of the active movies

    protected override async Task OnInitializedAsync()
    {
        _movies = await DataService.GetTrendingMovies();
        currentMovies = _movies.Take(10).ToList();
        currentIndex = 0;
    }

     [Parameter]
    public string PictureSrc { get; set; }
    
    [Parameter]
    public string Title { get; set; }
    
    [Parameter]
    public string Id { get; set; }

    private void OnClickMovie()
    {
        NavigationManager.NavigateTo("/Movie/" + Id);
    }
}
