@using Data
<MudText Color="Color.Info">Category</MudText>
<div class="d-flex flex-row justify-space-around">
    <MudButton Variant="Variant.Filled" Color="Color.Transparent">Back</MudButton>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MovieCoverView Title="Batman" PictureSrc="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRBkxgl2A2PhE_6tklFLT0bxn5NLhvhsnpXGhmXBt_zotrlVHmo"/>
    <MudButton Variant="Variant.Filled" Color="Color.Transparent">Forward</MudButton>
</div>
@code {
    List<Movie> Movies { get; set; }
}

