@page "/people"

<PageTitle>Peope</PageTitle>
<h1>People</h1>

<PeopleCoverView PictureSrc="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStpy5AJ7T5ogRTjgXmakPRf0SaxtG5fA-7YtfI7aqZKjBCSi7R" Title="Johnny"/>



@code {
}